.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: #9beeff;
}

.featureSvg {
  height: 100px;
  width: 100px;
}

p {
  color: #727272;
  font-size: 24px;
  font-weight: 400;
}
h3 {
  align-items: center;
  color: #29448b;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  margin-top: 42px;
  text-transform: uppercase;
}
.index-title__line {
  display: block;
  position: absolute;
  left: -75px;
  margin-right: 15px;
  width: 57px;
  height: 4px;
  background-color: #4c77e5;
}
.card {
  background-color: #ffffff;
  height: 450px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 4px 4px 4px 4px rgba(60, 60, 93, 0.33);
}
